.card-container {
    position: relative;
    overflow: hidden;
    background: #fff; /* Fallback color */
    border-radius: 12px; /* Rounded corners for the card */
    transition: background-color 0.5s ease;
    /* Ensure the card content is above the gradient effect */
    z-index: 1;
}

.card-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: linear-gradient(45deg, rgba(102, 87, 48, 0.6), rgba(243, 200, 198, 0.6)); /* Gradient color with transparency */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1.5s ease, opacity 1.5s ease;
    z-index: -1; /* Behind the card content */
    border-radius: 50%; /* Makes the gradient oval */
    pointer-events: none;
}

.card-container.top-left::before {
    transform-origin: top left;
}

.card-container.top-right::before {
    transform-origin: top right;
}

.card-container.bottom-left::before {
    transform-origin: bottom left;
}

.card-container.bottom-right::before {
    transform-origin: bottom right;
}

.card-container.entered::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.card-container.exited::before {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}
